# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.so

# Build
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Outputs
outputs/*
!outputs/.gitkeep

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/